@import "tailwindcss";


@theme {

    --color-primary-bg: #F5F6FA;
    --color-side-bar: #FFFFFF;
    --color-titles: #5A607F;
    --color-icons: #7E84A3;
    --color-placeholder: #D5D7E3;
    --color-menu-hover: #E6E9F4;
    
}

.sideBarItem {
    @apply text-icons px-3 py-3 rounded-lg cursor-pointer hover:bg-menu-hover;
}
.topMenu {

    @apply bg-primary-bg place-content-center justify-items-end p-4 text-icons;

}
.dashboard{
    @apply col-start-2 bg-primary-bg;
}